# Preserve previous single-port settings as port 1 settings.
CONFIG_BOARD_RS485_BAUD CONFIG_BOARD_RS4851_BAUD
CONFIG_BOARD_RS485_PARITY_NONE CONFIG_BOARD_RS4851_PARITY_NONE
CONFIG_BOARD_RS485_PARITY_EVEN CONFIG_BOARD_RS4851_PARITY_EVEN
CONFIG_BOARD_RS485_PARITY_ODD CONFIG_BOARD_RS4851_PARITY_ODD
CONFIG_BOARD_RS485_TWO_STOP_BITS CONFIG_BOARD_RS4851_TWO_STOP_BITS
CONFIG_BOARD_MODBUS_SLAVE CONFIG_BOARD_MODBUS1_SLAVE
CONFIG_BOARD_MODBUS_START_REGISTER CONFIG_BOARD_MODBUS1_START_REGISTER
